[mysqld]

# 设置时区为东八区
default-time_zone='+8:00'

# 服务端使用的字符集默认为8比特编码的latin1字符集
character-set-server=utf8mb4

# MySQL支持4种事务隔离级别，他们分别是：
# READ-UNCOMMITTED, READ-COMMITTED, REPEATABLE-READ, SERIALIZABLE.
# 如没有指定，MySQL默认采用的是REPEATABLE-READ，ORACLE默认的是READ-COMMITTED
transaction_isolation = READ-COMMITTED

